@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap");
/* font-family: "Roboto Slab", serif; */
/* font-family: 'Alegreya SC', serif; */
.container-fluid {
  font-family: "Roboto Slab", serif;
}
th {
  background: #198754 !important;
}
.td a,
.atag a {
  border-radius: 40%;
}
.atag a:nth-child(1) {
  background-color: maroon;
}
